@model IEnumerable<UserRoles.Models.User>
// This line declares the model type for the view. It expects a list (IEnumerable) of User objects from the UserRoles.Models namespace.

@{
    ViewData["Title"] = "Index";
    // Sets the page title that may be used in the layout or browser tab.
}

<!-- Add New Employee Button -->
<p>
    <!-- This anchor tag uses tag helpers to link to the "Create" action in the current controller. -->
    <a asp-action="Create" class="btn btn-block btn-primary">
        <i class="fa fa-plus"></i> Add new Employee
    </a>
</p>

<!-- Bootstrap card layout to display the user list -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Omnitrack Users List</h3> <!-- Card header title -->
    </div>

    <div class="card-body">
        <!-- Table for displaying the user list -->
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!-- Table column headers using DisplayNameFor to get friendly names from the model -->
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    <th>@Html.DisplayNameFor(model => model.Role)</th>
                    <th>Edit</th>    <!-- Static header for edit action -->
                    <th>View</th>    <!-- Static header for view action -->
                    <th>Delete</th>  <!-- Static header for delete action -->
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                // Loop through each user in the model collection
                {
                    <tr>
                        <!-- Display the user's FirstName -->
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>

                        <!-- Display the user's LastName -->
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>

                        <!-- Display the user's PhoneNumber -->
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>

                        <!-- Display the user's EmailAddress -->
                        <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>

                        <!-- Display the user's Role -->
                        <td>@Html.DisplayFor(modelItem => item.Role)</td>

                        <!-- Edit Button: Links to the Edit action with the user's ID -->
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        </td>

                        <!-- View Button: Links to the Details action with the user's ID -->
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">View</a>
                        </td>

                        <!-- Delete Button: Links to the Delete action with the user's ID -->
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
